
*{
    margin: 0;
    background-color: rgb(42, 22, 22);
}



.navbar{
    background-color: darksalmon;
    text-align: center;
    background-color: beige;
   
    
}
.sidebar{
    background-color:bisque;
}