




.navbar{
    background-color:black;
    text-align: center;
    width:40cm;
    color: cornsilk;
   
   
    
}
.sidebar{
    background-color:black;
    float: left;
    width: 200px;
    height: 30cm;
    color: cornsilk;

}
.wrapper{
    display: flex;
    justify-content: space-between;
}
 .navbar
body{
    height: 150cm;
}

*{
    margin: 2cm;
    
}

