




.navbar{
    background-color:black;
    text-align: center;
    width:40cm;
    color: #fff8dc;
    height: 60%;
    position: sticky;
    top: 0;
   
   
    
}
.sidebar{
    background-color:black;
    float: left;
    width: 200px;
    height: 10cm;
    text-align: center;
    color: cornsilk;
    line-height: 1cm;
    

}

.menu{
    align-items: center;
   
    list-style: none;
    justify-content: space-between;
}
.mistake{
    display: inline-flex;
    display: inline;
    display: flex;
    margin: 0 10px; /* Add spacing between menu items */
    list-style: none;
    
}
.mistake a:hover {
    text-decoration: underline;
}

/*.navbarwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}*/
.logo {
    float: left;
    width: 0;
    height: 0;
    margin: 0px 0px;
    font-size: 30px;
    color: crimson;
}
.profile{
    height: 70%;
}
.profiletextcon{
    float: right;
    height: 70%;
    position:sticky;
    top: 0;
}
 
body{
    height: 10cm;
   
   
   
    
}
.item{
   
}
.photo{
    object-fit:fill;
}
.profiletext{
    display: flex;

}

*{
    margin: 2cm;
    
}
html {
	background: url("HD-wallpaper-tesseract-black-hole-christopher-nolan-dark-knight-inception-interstellar-library-nolan-space.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

